html {
  overflow: auto;
}
body{
  overflow: auto;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: #d30b0b;
}
header h1 {
  position: absolute;
  height: 50%;
  width: 20%;
  left: 40%;
  text-align: center;
  color: white;
}
main{
  position: fixed;
  left: 10%;
  top: 20%;
  width: 50%;
  min-height: 80%;
  background-color: rgb(236, 195, 141);
  overflow: auto;
}
#searchListButton {
  position: fixed;
  left: 10%;
  top: 15%;
} 
#myListButton {
  position: fixed;
  left: 15%;
  top: 15%;
}

#searchList{
  position: absolute;
  width: 90%;
  left: 10%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  
}
.movieInList {
  width: 90%;
  max-height: 150px;
  background-color: aqua;
  margin: 2%;
}
.movieInList img{
  /* position: absolute; */
  float: left;
  max-height: 150px;
  max-width: 100%;
 /*  height: 100%;
  width: 30%; */
}
.movieInList p {
  margin-left: 20%;
  font-size: large;
}

#myList {
  position: absolute;
  width: 90%;
  left: 10%;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}



/* button {
  display: inline;
} */
